<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
</head>
<body>
<h1>您好, {{ username }}</h1>
<!--
<div class="img">
    <img src="/static?file=totoro.gif"/>
    <img src="/static?file=totoro1.jpeg"/>
    <img src="/static?file=totoro2.jpeg"/>
</div>
-->
<br>
<div class="link">
    <h3><a href="/login">登录</a></h3>
    <h3><a href="/register">注册</a></h3>
    <h3><a href="/todo">Todo主页</a></h3>
    <h3><a href="/todo/ajax">Todo(ajax)主页</a></h3>
</div>
</body>
</html>